@import 'input.css';
.login-container{
    display: flex;
    gap: 8.5625rem;
    padding: 6.125rem;
    background: rgb(89,93,104);
    background: linear-gradient(90deg, rgba(89,93,104,1) 29%, rgba(47,53,66,1) 45%);
    border-radius: 10px;
}
.login-signIn{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.signIn-inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.login-title{
    display: grid;
    place-content: center;
    font-size: 1.3rem;
}
.signIn-text{
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    white-space: nowrap;
}
.signIn-text span{
    font-weight: 700;

    font-size: 1.2rem;
}
@media (max-width: 700px){
   
    .login-container{
        flex-direction: column;
    }
}