<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    
</head>
<body>
    
    <main class="main">
        <div class="login-container">
            <div class="login-title">
                <h1>Sign in</h1>    
                <span>Register</span>
            </div>
            <div class="login-signIn">
                <div class="signIn-text">
                    <img src="../images/icons8-bloquear-24.png" alt="">
                    <span>Sign in to your account</span>
                </div>
                <div class="signIn-inputs">
                    <div class="input-user">
                        <img src="../images/icons8-usuario-16.png" alt="">
                        <input class='input' type="text" placeholder="Username o Correo Electrónico">
                    </div>
                    <div class="input-password">
                        <img src="../images/icons8-bloquear-16.png" alt="">
                        <input class='input' type="password" placeholder="Contraseña">
                    </div>
                </div>
                <a href='' class="btn">Sign in</a>
                
                <a href="./registro.html">Crea una cuenta aqui</a>
            </div>
        </div>
    </main>
    
</body>
</html>