<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
   <!--  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet"> -->
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>CiberGames</title>
  </head>
  <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a
          class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
          href="#"
          >CiberGames</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#topNavBar"
          aria-controls="topNavBar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
          <form class="d-flex ms-auto my-3 my-lg-0">
            
          </form>
          <ul class="navbar-nav">

            <li>
              <a href="/" class="nav-link px-3 active">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav bg-dark"
      tabindex="-1"
      id="sidebar"
    >
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
               SECCIONES
              </div>
            </li>
            <li>
              <a href="/home/cargar" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Home</span>
              </a>
              <a href="/juegos/cargar" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-joystick"></i></span>
                <span>Juegos</span>
              </a>
              <a href="/categoria/listado" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-tags"></i></span>
                <span>Categoria</span>
              </a>
              <a href="/usuarios/listado" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-people"></i></span>
                <span>Usuarios</span>
              </a>
              <a href="/boleta/listado" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-people"></i></span>
                <span>Boletas</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mb-3" >
            <h4>Juegos</h4>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar</button>
          </div>
        </div>
        <!-- Listado de Videojuegos -->
        <div class="row">
            <div class="col mb-5" th:each="jue:${listaVideoJuegos}">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{'/images/juegos/' + ${jue.ruta_img_juego}}"  class="card-img-top" alt="..." style="height: 180px">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${jue.nombre_juego}"></h5>
                        <p class="card-text" th:text="'Categoria: ' + ${jue.categoria.nombre_categoria}"></p>
                        <p class="card-text" th:text="'Tipo de Juego: ' +${jue.tipoJuego.nombre_tipo_juego}"></p>
                        <p class="card-text" th:text="'Precio: S/.' +${jue.precio_juego}"></p>

                        <div class="forms2">
					        <div class="row">
					          <div class="col">
					            <form action="/juegos/editar" method="post">
					              <input type="hidden" name="codigo_juego" th:value="${jue.codigo_juego}">
									<input type="hidden" name="ruta_img_juego" th:value="${jue.ruta_img_juego}">
					              <button type="submit"class="btn btn-info">Editar</button>
					            </form>
					
					          </div>
					          <div class="col">
					            <form action="/juegos/eliminar" method="post">
					                <input type="hidden" name="codigo_juego" th:value="${jue.codigo_juego}">
					                
					                <button type="submit"class="btn btn-danger">Eliminar</button>
					            </form>
                                <!--<a th:onclick="eliminar([[${jue.codigo_juego}]])" class="btn btn-danger">Eliminar</a> -->					          
							  </div>
					
					        </div>
					
					      </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- FIN Listado de Videojuegos -->
          
        <!-- Modal Agregar VideoJuego-->
        
        <div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        	<div class="modal-dialog">
            	<div class="modal-content">
                	<div class="modal-header">
                  		<h5 class="modal-title" id="">Agregar</h5>
                  		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                	</div>
             <div class="modal-body">
                <div class="form">
                    <form action="/juegos/grabar" th:object="${videojuego}" method="post" enctype="multipart/form-data">
                    	<div class="col">
                      		
                        		<div class="mb-3">
                          			<label for="exampleInputEmail1" class="form-label">Nombre</label>
                          			<input type="text" class="form-control" id="" th:field="*{nombre_juego}">
                        		</div>
                      		
	                      	
	                        	<div class="mb-3">
	                          		<label for="select-category" class="form-label">Selecciona Categoria</label>
	                          		<select class="input" th:field="*{codigoCategoria}">
										<option value="-1">Seleccione</option>
										<option 
										th:each="cat: ${listaCategoria}" 
										th:value="${cat.codigo_categoria}" 
										th:text="${cat.nombre_categoria}">
										</option>
									</select>
	                        	</div>
	                      	
                        		<div class="mb-3">
                          			<label for="select-empresa" class="form-label">Selecciona la Empresa   </label>
                          			<select class="input" th:field="*{codigo_empresa}">
										<option value="-1">Seleccione</option>
										<option 
										th:each="emp: ${listaEmpresa}" 
										th:value="${emp.codigo_empresa}" 
										th:text="${emp.nombre_empresa}">
										</option>
									</select>
                       			</div>
                      		
                      		
                        		<div class="mb-3">
                          			<label for="select-tipoJuego" class="form-label">Selecciona Tipo de Juego</label>
                          			<select class="input" th:field="*{codigo_tipo_juego}">
										<option value="-1">Seleccione</option>
										<option 
										th:each="tipo: ${listaTipoJuego}" 
										th:value="${tipo.codigo_tipo_juego}" 
										th:text="${tipo.nombre_tipo_juego}">
										</option>
									</select>
                        		</div>
                      		
                      		
                        		<div class="mb-3">
                          			<label for="fecha" class="form-label">Fecha de Lanzamiento</label>
                          			<input type="date" class="form-control" id="" th:field="*{fecha_lanzamiento}" >
                        		</div>
                      		
                      		
                        		<div class="mb-3">
                          			<label for="precio" class="form-label">Precio</label>
                          			<input type="text" class="form-control" id=""  th:field="*{precio_juego}">
                        		</div>
                      		
                      		
                        		<div class="mb-3">
                          			<label for="Image" class="form-label">Inserta la imagen del juego</label>
                          			<input class="form-control" type="file" name="file" id="">
                        		</div>
                      		
                      		
                        		<div class="mb-3">
                          			<label for="descripcion" class="form-label">Descripcion</label>
                          			<textarea id="descripcion" name="" rows="4" cols="50" th:field="*{descripcion_juego}"></textarea>
                       		 	</div>
                      		
                      		<div class="modal-footer">
                  				<button type="submit" class="btn btn-primary">Agregar</button>
                			</div>
                        </div>
                    </form>
                  </div>
				</div>
              </div>
            </div>
          </div>
          <!-- FIN Modal Agregar VideoJuego-->
          
          <!-- Modal Delete -->
	        <!-- <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
	            <div class="modal-dialog">
	              <div class="modal-content">
	                <div class="modal-body">
	                    <span>¿Estás seguro que quieres eliminar?</span>
	
					</div>
	                <div class="modal-footer">
	                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sí</button>
	                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
	                </div>
	              </div>
	            </div>
	          </div> -->
	        <!--FIN Modal Delete -->
      </div>
    </main>
    <!-- JQuery para el sweet Alert -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
    <!-- Sweet Alert -->
	<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script> -->
    <!-- Funciones JS -->
    <!-- <script src="../js/funciones.js"></script> -->
    
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
