<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="main">
        <div class="registro">
            <h2>Registrarse</h2>
            <input placeholder="Nombre"  type="text" class="input">
            <input placeholder="Apellido" type="text" class="input">
            <input placeholder="email" type="text" class="input">
            <input placeholder="Contraseña" type="text" class="input">
            <input placeholder="Telefono" type="text" class="input">
            <a href="" class="btn">Done</a>
        </div>

    </div>
    </body>
</html>